@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Karnak';
    src: url('/fonts/karnak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Franklin';
    src: url('/fonts/franklin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .elevated-xs {
    box-shadow: inset 4px 4px 15px #00000020, inset -4px -4px 15px 1px #fefefe;
    /* border-width: 1px; */
    border-color: #0000 #f1f5f9 #f1f5f9 #0000;
  }

  .elevated-sm {
    box-shadow: inset 3px 3px 10px #00000020, inset -3px -3px 10px 1px #fefefe;
    border-width: 0.5px;
    border-color: #0000 #f1f5f9 #f1f5f9 #0000;
  }

  .elevated {
    box-shadow: 2px 2px 10px #00000020, -2px -2px 10px 1px #fefefe;
    /* border-width: 0.5px; */
    border-color: #f1f5f9 #0000 #0000 #f1f5f9;
  }

  .elevated-md {
    box-shadow: 4px 4px 15px #00000020, -4px -4px 15px 1px #fefefe;
    /* border-width: 1px; */
    border-color: #f1f5f9 #0000 #0000 #f1f5f9;
  }

  .elevated-lg {
    box-shadow: 5px 5px 20px #00000020, -5px -5px 20px #fefefe;
    /* border-width: 1px; */
    border-color: #f1f5f9 #0000 #0000 #f1f5f9;
  }

  .shimmer {
    overflow: hidden;
  }

  .shimmer::after {
    position: absolute;
    top: 0;
    left: -300%;
    animation: shimmer 4s ease-out infinite;
    content: "";
    width: 300%;
    height: 100%;
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(255 255 255 / 0)  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #fff8 var(--tw-gradient-via-position), var(--tw-gradient-to);
  }
}
